

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************** FORM ****************/

.form-box{
  min-width: 50%;
  height: 90vh;
  /*border: dotted #F55A00 5vw; */
  /*border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  background-color: rgba(120, 185, 174, 0.75);
  position:relative; 
}

/******** h2 ********/

.form-box h2{
  font-family: fantasy;
  font-size: 35px ;
  text-align: center;
  color: #f8fcf8;
  margin: 0 0 .5vh 0;
}

/******** input textarea ********/

.form-box input, textarea{
  font-family: fantasy;
  display: block;
  width: 40%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0;
  border:0;
  border-radius: 5px;
  font-size: 20px;
  position:relative; 
}

.form-box textarea{
  height: 15vh;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.gift-container{
  justify-content: center;
}

.gift{
  justify-content: center;
  max-width: 200px;
  list-style-type: none;
  text-align: center;
  font-family:fantasy;
  color:#f2f7f3;
  margin: 10px;
  
  background: rgba(120, 185, 174, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;  
}

.filter{

  text-align: center;
  font-family: fantasy;
  color:rgba(120, 185, 174, 0.75);
  margin: 10px;
}


.homepage {
  text-align: center;
  color: rgba(120, 185, 174, 0.75);
  font-family: fantasy;
}

.homepage p{
font-size: 30px;
}

.photo{
  height: 400px;
  width: 400px;
}

.nav {
  position: relative;
  width: 100x;
  list-style-type: none;
  text-align: center;
  font-family: fantasy;
  color:rgba(120, 185, 174, 0.75);
  margin: 10px;
  justify-content: center;
  border: #a00893;
  border-radius: 5px; 
  padding: 20px;
}

.navbar {
  position: relative;
  width: 100x;
  list-style-type: none;
  text-align: center;
  font-family: fantasy;
  color:#b62a07;
  margin: 10px;
  justify-content: center;
  background-image: url(/public/images/snowflake.jpeg);
  
    border-radius: 5px; 
    padding: 20px;
}



.navbar h1 {
  color:rgba(120, 185, 174, 0.75);
  padding: 20px;
  font-size: xxx-large;
  text-align: center;
}
.navbar .links {
  margin-left: 0;
}

.navbar a:hover {
  color: #a00893;
}