.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************** FORM ****************/

.form-box{
  min-width: 50%;
  height: 90vh;
  /*border: dotted #F55A00 5vw; */
  /*border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  background-color: rgb(199, 194, 194);
  position:relative; 
}

/******** h2 ********/

.form-box h2{
  font-size: 35px ;
  text-align: center;
  color: #05800f;
  margin: 0 0 .5vh 0;
}

/******** input textarea ********/

.form-box input, textarea{
  display: block;
  width: 40%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0;
  border:0;
  border-radius: 5px;
  font-size: 20px;
  position:relative; 
}

.form-box textarea{
  height: 15vh;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.homepage{
  
}